@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
* {
    margin: 0;
    padding: 0;
}



body {
    background-color: #efefef;
}
.container2 {
    margin: 0px auto;
    border: none;
    height: 305px;
    width: 310px;
    margin-top: 0%;
    background-color: white;
    border-radius: 7px;
}
.container {
    margin: 0px auto;
    border: none;
    height: 505px;
    width: 310px;
    margin-top: 0%;
    background-color: white;
    border-radius: 7px;
}
.title {
    font-size: 35px;
    font-family: Open Sans Condensed;
    padding: 0;
    letter-spacing: 3px;
    border-left: 6px solid red;
    margin-top: 7px;
}
::placeholder {
    text-align: center;
    color: grey;
    font-family: Open Sans Condensed;
    font-size: 17px;
    padding: 0;
}
input {
    width: 205px;
    height: 55px;
    border: none;
    border-radius: 30px;
    background-color: #f2f2f2;
    outline: 0;
    padding: 0;
    font-family: Open Sans Condensed;
    font-size: 25px;
    text-align: center;
    transition: all 0.7s ease;
}
button {
    width: 155px;
    height: 65px;
    border: none;
    border-radius: 25px;
    background-color: #f2f2f2;
    transition: all 0.7s ease;
    outline: 0;
}
button:hover {
    width: 195px;
    background-color: #ededed;
    transition: all 0.5s ease;
    outline: 0;
}
input:hover {
    width: 260px;
    background-color: #ededed;
    transition: all 0.7s ease;
    outline: 0;
}
.bottom {
    background-color: #f2f2f2;
    border: none;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    height: 50px;
}
.bottomtext {
    font-family: Open Sans Condensed;
    color: grey;
    font-size: 15px;
    letter-spacing: 1px;
}
a {
    color: grey;
text-decoration: none !important;
}

.example_d {
width:200px;
font-family: Open Sans Condensed;
margin-top:15%;
border: none;
background: #404040;
font-size: 20px;
color: #ffffff !important;
font-weight: 100;
padding: 20px;
text-transform: uppercase;
border-radius: 6px;
display: inline-block;
}

.example_d:hover {
color: #404040 !important;
font-weight: 700 !important;
letter-spacing: 3px;
background: none;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.3s ease 0s;
}